@import url(http://fonts.googleapis.com/css?family=Signika:300&subset=latin-ext,latin);
* {
  margin: 0;
  padding: 0; }

body {
  font-family: Helvetica;
  color: #555;
  padding: 50px;
  min-height: 100%;
  font-family: 'Signika', sans-serif; }

h1, h2, h3 {
  font-weight: normal;
  margin-bottom: 1em; }

h1 {
  text-align: center; }

a {
  color: #888;
  text-decoration: none; }
  a:hover {
    color: #666; }

ol, ul {
  padding: 0;
  list-style: none; }

input, textarea, button {
  font: inherit; }

form {
  position: relative; }
  form.pending:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(105, 105, 105, 0.75); }
  form input, form button {
    display: block;
    width: 250px;
    margin: 0 auto;
    margin-bottom: 12px; }
    form input[type="text"], form button[type="text"] {
      border: 1px solid #ccc;
      padding: 5px 10px;
      font-size: 1.5em;
      text-align: center; }
    form input[type="submit"], form button[type="submit"] {
      background-color: #4b2583;
      border: none;
      color: #fff;
      cursor: pointer;
      font-size: 16pt; }
      form input[type="submit"]:hover, form button[type="submit"]:hover {
        background-color: #5d2ea3; }

.msg {
  display: none;
  position: absolute;
  background: url("/static/images/loader.gif") no-repeat center 15px white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  padding: 60px 5% 20px;
  width: 40%;
  left: 25%;
  top: 30%; }
  .msg.error {
    background-image: none;
    padding-top: 20px;
    border: 3px solid #832540; }
  .msg .done:after {
    content: " ✔";
    color: green; }
  .msg .error-message {
    color: #832540;
    font-weight: bold; }

.recommendation-list, .based-on-list {
  overflow: hidden;
  clear: both;
  margin-bottom: 40px; }
  .recommendation-list li, .based-on-list li {
    display: block;
    float: left; }

.based-on-list {
  margin-bottom: 80px; }

li .album {
  margin: 5px;
  border: 1px solid #ddd;
  padding: 5px;
  text-align: center; }
  li .album img {
    width: 150px;
    height: 150px; }
  li .album .description {
    padding-top: 5px;
    font-size: 12px;
    width: 150px;
    white-space: nowrap;
    overflow: hidden; }
    li .album .description .artist-desc {
      font-size: 14px; }
  li .album:hover {
    border-color: #bbb; }

li.show-more {
  height: 150px;
  margin: 5px;
  padding: 5px; }
  li.show-more a {
    display: inline-block;
    margin-top: 65px; }
    li.show-more a:after {
      content: "▶";
      font-size: 10px;
      margin-left: 5px; }
